#alert-container {
  position: fixed;
  top:80px;
  right:20px;
  left:20px;
  z-index:99;
}

.alert {
  padding: 10px 10px;
  height: auto;
  line-height: 36px;
}

.alert span {
}

.alert i {
  margin-top: 6px;
}
