.ml-10 { margin-left: 10px; }
.ml-5 { margin-left:5px; }

.mr-5 { margin-right:5px; }
.mr-10 { margin-right: 10px; }

.mt-5 { margin-top: 5px; }
.mt-10 { margin-top: 10px; }
.mt-20 { margin-top: 20px; }

.mb-5 { margin-bottom: 5px; }
.mb-10 { margin-bottom: 10px; }

.m-5 { margin: 5px; }
.m-10 { margin: 10px; }
.m-0 { margin: 0 }

.pt-10 { padding-top: 10px }
.pt-15 { padding-top: 15px }
.pt-20 { padding-top: 20px }

.pb-10 { padding-bottom: 10px }
.pb-15 { padding-bottom: 15px }
.pb-20 { padding-bottom: 20px }

.bb { border-bottom: solid 1px #e0e0e0 }

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.navbar-new{
  height:15px;
  width:auto;
  padding:0 4px;
  border-radius:2px;
  position:absolute;
  top:15px;
  right:7px;
  line-height:15px;
  font-size:11px;
  background-color:#42a5f5;
  color:white;
}
