.pictures div {
  float:left;
  width:calc(25% - 10px);
  padding-top: calc(25% - 10px);
  margin-bottom:10px;
  border-radius:3px;
  background-size: 100% auto;
  background-color: #ddd;
  background-position: center;
  background-repeat: no-repeat;
}

.pictures div:first-child {
  padding-top: calc(75% - 10px);
  margin-right: 10px;
  width: calc(75% - 10px);
}

.pictures:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
